<html>

	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Simple NLG Demo</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

		<script src="static/js/simplenlg.js"></script>
	</head>

	<body ng-app="simpleNLGApp">

		<div class="container" style="padding-top:10%;">
			<div class="row">
				<div>
					<div ng-controller="subjectVerbObjectController" class="well">
						<h2>Subject-Verb-Object sentence</h2>
						<form class="form-horizontal">
							<!--Simple case (subject, verb and object) -->
							<div class="form-group">
								<label class="col-sm-2" for="subjectInput">Subject</label>
								<div class="col-sm-10">
									<input type="subject" class="form-control" id="subjectInput" placeholder="Subject" ng-model="sentence.subject">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2" for="verbInput">Verb</label>
								<div class="col-sm-10">
									<input type="verb" class="form-control" id="verbInput" placeholder="Verb" ng-model="sentence.verb">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2" for="objectInput">Object</label>
								<div class="col-sm-10">
									<input type="object" class="form-control" id="objectInput" placeholder="Object" ng-model="sentence.objectStr">
								</div>
							</div>
							<div class="form-group"><label class="col-sm-2">Verb Tense</label>	
								<div class="col-sm-10">
									<label style="padding-right: 15%;">Present
										<input type="radio" ng-model="sentence.verbTense" value="present"></input>
									</label>
									<label style="padding-right: 15%;" class="">Past
										<input type="radio" ng-model="sentence.verbTense" value="past"></input>
									</label>
									<label style="padding-right: 15%;">Future
										<input type="radio" ng-model="sentence.verbTense" value="future"></input>
									</label>
								</div>
							</div>

							<div class="form-group"><label class="col-sm-2">Is progressive</label>
								<div class="col-sm-10" ng-init="sentence.isProgressive=False">
									<label style="padding-right:3%;">True 
										<input type="radio" ng-model="sentence.isProgressive" value="True">
									</label>
									<label style="padding-right:3%;">False 
										<input type="radio" ng-model="sentence.isProgressive" value="False">
									</label>
								</div>
							</div>

							<div class="form-group"><label class="col-sm-2">Is verb model?</label>
								<div class="col-sm-10" ng-init="sentence.isModel=False">
									<label style="padding-right:3%;">True 
										<input type="radio" ng-model="sentence.isModel" value="True">
									</label>
									<label style="padding-right:3%;">False 
										<input type="radio" ng-model="sentence.isModel" value="False">
									</label>
								</div>
							</div>

							<div class="form-group"><label class="col-sm-2">Is verb participle?</label>
								<div class="col-sm-10" ng-init="sentence.isParticiple=False">
									<label style="padding-right:3%;">True <input type="radio" ng-model="sentence.isParticiple" value="True"></label>
									<label style="padding-right:3%;">False <input type="radio" ng-model="sentence.isParticiple" value="False"></label>
								</div>
							</div>

							<div class="form-group"><label class="col-sm-2">Is passive voice?</label>
								<div class="col-sm-10" ng-init="sentence.isPassive=False">
									<label style="padding-right:3%;">True 
										<input type="radio" ng-model="sentence.isPassive" value="True">
									</label>
									<label style="padding-right:3%;">False 
										<input type="radio" ng-model="sentence.isPassive" value="False">
									</label>
								</div>
							</div>

							<div class="form-group"><label class="col-sm-2">Is verb perfect</label>
								<div class="col-sm-10" ng-init="sentence.isPerfect=False">
									<label style="padding-right:3%;">True 
										<input type="radio" ng-model="sentence.isPerfect" value="True">
									</label>
									<label style="padding-right:3%;">False 
										<input type="radio" ng-model="sentence.isPerfect" value="False">
								</div>
							</div>

							<div class="form-group"><label class="col-sm-2">Negate?</label>
								<div class="col-sm-10" ng-init="sentence.negated=False">
									<label style="padding-right:3%;">True 
										<input type="radio" ng-model="sentence.negated" value="True"></input>
									</label>
									<label style="padding-right:3%;">
									False 
										<input type="radio" ng-model="sentence.negated" value="False"></input>
									</label>
								</div>
							</div>
							<div class="form-group"><label class="col-sm-2">Your Sentence:</label>
								<div class="col-sm-10"><h2><span>
									{{sentence.subject}} {{sentence.verb}} {{sentence.objectStr}}
								</span></h2></div>
							</div>
							
							<div class="form-group" style="padding-left:71.5em;"><button type="submit" class="btn btn-default" ng-click="submit(sentence)">Generate Sentence</button></div>
							
							<div class="form-group"><label class="col-sm-2">Result:</label>
								<div class="col-sm-10"><h2><span ng-bind="resultSentence" style="color:green;"></span></h2></div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!--<select ng-options="state as state.description for state in lov_state" ng-model="selected"></select> -->
			<div class="row">
				<div class="well" ng-controller="questionSentenceController">
					<h2>Question sentence</h2>
					<form class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2" for="questionInput">Question</label>
							<div class="col-sm-10">
								<select class="form-control" ng-model="selected" ng-options="question as question.type for question in questions">
								</select>
								<tt>
									<div style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size:16px;"class="bg-info">Description: {{selected.description}}</div><br>
									<div style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size:16px; padding-top:.25em" class="bg-success" >Example: {{selected.example}}</div>
								</tt>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2" for="subjectInput">Subject</label>
							<div class="col-sm-10">
								<input type="subject" class="form-control" id="subjectInput" placeholder="Subject" ng-model="sentence.subject">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2" for="verbInput">Verb</label>
							<div class="col-sm-10">
								<input type="verb" class="form-control" id="verbInput" placeholder="Verb" ng-model="sentence.verb">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2" for="objectInput">Object</label>
							<div class="col-sm-10">
								<input type="object" class="form-control" id="objectInput" placeholder="Object" ng-model="sentence.objectStr">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2" for="userSentence">Your sentence</label>
							<div class="col-sm-10"><h2><span>{{selected.question}} {{sentence.subject}} {{sentence.verb}} {{sentence.objectStr}}?</span></h2></div>
						</div>
						<div class="form-group" style="padding-left:71.5em;"><button type="submit" class="btn btn-default" ng-click="submit(sentence, selected.value)">Generate Question</button></div>
						<div class="form-group">
							<label class="col-sm-2">Result:</label>
							<div class="col-sm-10">
								<h2><span ng-bind="resultQuestion" style="color:green"></span></h2>
							</div>
						</div>
					</form>	
				</div>
			</div>
		</div>

	</body>

</html>